<% if(val != ''){%>
<% var obj = JSON.parse(val);%>
<tr>
	<td><a href="/board?ccd=<%=obj.cd%>"><%= obj.name%></a></td>
	<td style="width:190px"><span style="color:cornflowerblue;font-size:25px;"><%= obj.date%></span><br />に<span style="color:palevioletred;font-size:25px;"><%= obj.user%></span><br/>が作成</td>
	<td style="width:70px"><span style="color: #3CB371;font-size: 25px;"><%= obj.maxDate%></span><br />に最終更新</td>
</tr>
<%}%>