<% if(val != ''){%>
<% var obj = JSON.parse(val);%>
<tr>
	<td style="width:65%">
		<a href="/board?ccd=<%=obj.cd%>"><%= obj.name%></a>
		<br/>
		<span style="color:#CC9900;font-size:15px;"><%= obj.date%></span><span style="font-size:10px;">に</span>
		<br/>
		<span style="color:palevioletred;font-size:15px;"><%= obj.user%></span><span style="font-size:10px;">が作成</span>
</td>
	<td style="width:35%">
		<span style="color: #3CB371;font-size: 25px;"><%= obj.maxDate%></span>
		<br />
		に<span style="color:palevioletred;font-size:25px;"><%= obj.lastUser%></span>
		<br />
		が最終更新
	</td>
</tr>
<%}%>