<% if(val != ''){%>
<% var obj = JSON.parse(val);%>
<tr>
	<td name="mark"style="width:20px;border:none;font-size:30px" td="<%=obj.todo_flg%>" sq="<%=obj.seq%>">★</td>
	<th style="width:200px;">
		<%= obj.name%>
		<br />
		<span style="color:palevioletred;font-size:15px;"><%= obj.date%></span>
	</th>
	<td style="word-break:break-word;display: inline-block; max-width: 450px"><%- obj.naiyo%></td>
</tr>
<%}%>