<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {
            $(".plus_button").click(function () {
                var $div = $(this).closest("div");
                $div.find("div.komidashi").show();
                $div.find(".minus_button").show();
                $(this).hide();
            });

            $(".minus_button").click(function () {
                var $div = $(this).closest("div");
                $div.find("div.komidashi").hide();
                $div.find(".plus_button").show();
                $(this).hide();
            });
            $("#buttonUpdate").click(function () {
                updateBoard();
            });

            $("#buttonSearch").click(function () {
                searchBoard();
            });

            //         $(".table tr td[memo=''], .table tr td[memo='0']").css("color", "blue");
            //$(".table tr td[memo='1']").css("color", "red");
            //         $(".table tr td[name='mark']").click(function () {
            //	var $tr = $(this).closest("tr");
            //             if ($(this).attr("memo") == "" || $(this).attr("memo") == "0") {
            //                 $(this).css("color", "red");
            //                 $(this).attr("memo", "1");
            //		$tr.css("background-color", "#FFDDFF");
            //	} else if ($(this).attr("memo") == "1"){
            //		$(this).css("color", "blue");
            //                 $(this).attr("memo", "0");
            //		$tr.css("background-color", "#CCFFFF");
            //             }
            //         });
            //         $(".table tr td[name='mark']").hover(function () {
            //             var $tr = $(this).closest("tr");
            //	if ($(this).attr("memo") == "" || $(this).attr("memo") == "0") {
            //		$tr.css("background-color", "#CCFFFF");
            //	} else if ($(this).attr("memo") == "1"){
            //		$tr.css("background-color", "#FFDDFF");
            //             }

            //         }, function () {
            //	var $tr = $(this).closest("tr");
            //	$tr.css("background-color", "#FFFFFF");
            //         });

            $(".table tr td[name='mark']").draggable();
        });

        function load(msg) {
            $("#div_msg").text(msg);
            $.blockUI({ message: $('#div_msg') });
        }

        function updateBoard() {
            load("データ更新中...");
            $.ajax({
                url: '/board',
                method: 'post',
                data: {
                    mode: "update",
                    categoryCd: $("#hiddenCategory").val(),
                    naiyo: $("#textMemo").val()
                },
                success: function (data) {
                    if (data["result"] == "NG") {
                        alert("No...");
                    } else {
                        load("(´ω`)おけ...ページ更新中...");
                        location.href = location.href;
                    }
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('error!!!');
                    console.log("XMLHttpRequest : " + XMLHttpRequest.status);
                    console.log("textStatus     : " + textStatus);
                    console.log("errorThrown    : " + errorThrown.message);
                    $.unblockUI();
                }
            });
        }

        function searchBoard() {
            load("データ検索中...");
            var form = document.forms["form"];
            form.method = "POST";
            form.action = "/board";
            form.submit();
            //location.href = "/board" + "?ccd=" + $("#hiddenCategory").val() +"&srch=" + $("#textSearch").val();
        }
        function load(msg) {
            $("#div_msg").hide();
            $("#div_msg").text("");
            $("#div_msg").text(msg);
            $.blockUI({ message: $('#div_msg') });
        }
    </script>
</head>
<body>
	<h1><%= title %></h1>
	<form name="form">
        <div id="div_msg"　style="display:none">

        </div>
		<div class="main">
            <input type="button" value="戻る" onclick="location.href = '/categoryList';">
			<div>
                 <div class="elements">
                     <input type="button" value="+" class="plus_button">
                     <input type="button" value="-" class="minus_button">
                     <div class="komidashi">
                         <ul>
                             <li>あ</li>
                             <li>ん</li>
                             <li>こ</li>
                         </ul>
                     </div>
                 </div><!--ここまで-->
                 <textarea id="textMemo" rows="4" cols="40" placeholder="ヾ(*｀Д´*)ノ < ｶｹｰｯ" style="font-size:25px"></textarea>
                 
                 <table>
                     <tr>
                         <td>
                             <input type="button" id="buttonUpdate" value="登録" style="font-size:25px"/>
                         </td>
                     </tr>
                     <tr style="margin-top:10px;margin-bottom:10px">
                         <td>
                 
                             <input type="text" id="textSearch" value="<%= searchText%>" placeholder="(｢･ω･)｢<ｻｶﾞｽﾉﾀﾞ" name="srch" style="height: 50px; font-size: 30px;"/>
                             <span style="font-size:40px">></span><input type="button" id="buttonSearch" value="検索" style="font-size:25px"/>
                         </td>
                     </tr>
                 </table>

				<br />

				<table class="table">
					<% for(var i in data){%>
					<%- include('../data_template/data_item', {val:data[i]})%>
					<%}%>
				</table>
			</div>
            <input id="hiddenCategory"type="hidden" value="<%=categoryCd%>" name="ccd">
		</div>
	</form>
</body>
</html>
